@use "../plug" as p;

.newFeat-container {
  h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;
    line-height: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    padding: 2rem 1.5rem;
    background-clip: text;
    color: transparent;
    background-image: p.$linearGrad;
  }

  .utils-container {
    padding: 0 1rem;

    .feat-container {
      h3 {
        font-size: 1.5rem;
        line-height: 1.75rem;
        margin-bottom: 0.5rem;
      }

      pre {
        margin-top: 0.25rem;
        border-radius: 0.25rem;
        background: p.$linearGrad;
        padding: 1rem;
        flex-grow: 1;
        overflow-x: auto;
        white-space: pre-wrap;
        word-wrap: break-word;
        max-width: 100%;
        box-sizing: border-box;
      }
    }
  }

  .update-para {
    margin-bottom: 2rem;
    max-width: 50rem;
    text-align: center;
  }
}
